body {

    margin: 0;

    background: #0f0f0f;

    color: white;

    font-family: Arial, sans-serif;
}

.container {

    display: flex;

    height: 100vh;
}

.left-panel {

    width: 65%;

    display: flex;

    justify-content: center;
    align-items: center;

    flex-direction: column;
}

.right-panel {

    width: 35%;

    padding: 40px;

    background: #181818;

    box-sizing: border-box;
}

canvas {

    background: black;

    border: 3px solid #333;

    border-radius: 12px;

    box-shadow:
        0 0 20px rgba(0,255,100,0.15);
}

button {

    margin-top: 20px;

    padding: 12px 24px;

    border: none;

    border-radius: 8px;

    background: #222;

    color: white;

    cursor: pointer;

    font-size: 16px;
}

button:hover {

    background: #333;
}

.prediction-bar {

    margin-bottom: 20px;
}

.bar-container {

    width: 100%;

    height: 24px;

    background: #222;

    border-radius: 6px;

    overflow: hidden;

    margin-top: 6px;
}

.bar {

    height: 100%;

    width: 0%;

    background: linear-gradient(
        90deg,
        #00ff88,
        #00ccff
    );

    transition: width 0.08s;
}